@media screen and (max-width: 680px) {
    h1 {
        font-size: 25px;
        margin-left: 30%;
    }

    select {
        font-size: 25px;
        height: 40px;
    }

    #difficulty-level {
        font-size: 25px;
    }
}

@media screen and (max-width: 580px) {

  #hide-list {
      float:right;
      background-color: #64e3e4;
      border-radius: 5px;
      border: 0px;
      color: white;
      display: block;
  }

    /*HAMBURGER ICON USING MODIFIED UDACITY SAMPLE*/

  header {
      height: 80px;
  }

  .navigation {
    z-index: 1;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-600px, 0);
    transform: translate(-600px, 0);
    top: 0%;
    width: 100%;
  }

  .navigation-list {
      width: 100%;
  }

  .navigation.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .navigation-item {
    display: list-item;
    width: 100%;
    text-align: left;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .header-menu {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1em;
  }
  .header-menu svg {
    width: 32px;
    fill: gray;
  }

  .hikePhotos img {
      width: 200px;
      max-height: 200px;
  }
}

@media screen and (max-width: 280px) {
    h1 {
        font-size: 20px;
    }

    header {
        height: 60px;
    }
}
